@import './variables';

.article-list {
  width: 100%;
}
.article-item-layout {
  margin-bottom: 0.625rem;
  padding: 0.625rem /* 10/16 */;
  .article-item-top {
    display: flex;
    align-items: center;
    padding: 0.625rem /* 10/16 */;
  }
  .article-item-author {
    font-size: 1rem;
    color: var(--c-text-author);
  }
  .article-item-date {
    font-size: 0.75rem /* 12/16 */;
    margin-top: 0.3125rem /* 5/16 */;
    color: var(--c-text-gray);
  }
  .article-item-tags a {
    font-size: 0.875rem /* 14/16 */;
    color: var(--c-text-link);
    margin-left: 0.3125rem /* 5/16 */;
  }
  .article-item-info {
    height: 15rem /* 240/16 */;
    margin-top: 0.625rem /* 10/16 */;
    border: 1px solid var(--c-border-dark);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: border var(--t-transform);
  }
  .article-item-cover {
    height: 7.5rem /* 120/16 */;
    background-position: 50% 50%;
    background-size: cover;
    filter: var(--brightness);
    overflow: hidden;
  }
  .article-item-text {
    display: block;
    padding: 0.625rem 1.25rem /* 20/16 */;
    overflow: hidden;
  }
  .article-item-title {
    font-size: 1rem;
    position: relative;
    margin: 0;
    transition: color var(--t-transform);
    &:hover {
      color: var(--c-text-link);
    }
  }
  .article-item-description {
    font-size: 0.75rem /* 12/16 */;
    color: var(--c-text-gray);
    margin: 0.3125rem /* 5/16 */ 0 0 0;
    transition: color var(--t-transform);
  }
}

@media (max-width: $MQMobile) {
  .article-item-layout {
    width: 100%;
    padding: 0;
  }
}
