@import './variables';

.base-card {
  position: relative;
  width: 100%;
  background: var(--c-bg);
  border-radius: var(--border-radius);
  overflow: hidden;
  margin-bottom: 0.5rem /* 8/16 */;
  padding: 0.75rem /* 12/16 */ 1rem /* 16/16 */;
  box-shadow: var(--card-shadow);
  transition: background-color var(--t-color);
}
