@import './variables';

.footer {
  max-width: var(--homepage-width);
  margin: 0 auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  transition: transform var(--t-transform);

  p {
    margin: 0;
  }
  a {
    transition: color var(--t-color);
  }
}
