@import './variables';

.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--c-bg);
  .navbar-layout {
    max-width: var(--homepage-width);
    margin: 0 auto;
    padding: 0 var(--navbar-padding-v);
    display: flex;
    justify-content: space-between;
  }
  .logo {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    transition: color var(--t-color);
    img {
      height: 100%;
      margin-right: var(--navbar-padding-v);
    }
  }
  .navbar-title {
    font-size: 1.375rem /* 22/16 */;
    font-weight: 700;
  }
  .navbar-menu {
    display: flex;
    height: 100%;
    align-items: center;
    list-style: none;
    margin: 0 0 0 1.875rem;
    li {
      margin-left: 10px;
      padding: 0 0.625rem /* 10/16 */;
      font-size: 0.875rem /* 14/16 */;
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar {
    .navbar-menu {
      display: none;
    }
  }
}
