@import './variables';

.navbar {
  display: flex;
  height: var(--navbar-height);
  padding: 0 var(--navbar-padding-v);
  background-color: var(--c-bg);

  .logo {
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    img {
      height: 100%;
      margin-right: var(--navbar-padding-v);
    }
  }
  .navbar-menu {
    display: flex;
    list-style: none;
    li {
      margin-left: 10px;
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar {
    .navbar-menu {
      display: none;
    }
  }
}
