@import './variables';

.page {
  .theme-way-content {
    margin: 0 auto;
    max-width: var(--homepage-width);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    background-color: var(--c-bg);
    overflow: hidden;
    transition: background-color var(--t-color);
  }
  .content-top {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2rem;
    width: 100%;
    height: 12.5rem /* 200/16 */;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    // .content-image-mask {
    //   position: absolute;
    //   width: 100%;
    //   height: 100%;
    //   left: 0;
    //   top: 0;
    //   background-color: rgb(0, 0, 0, 0.4);
    // }
    .content-top-info {
      color: var(--c-text-white);
      z-index: 1;
    }
    .content-tags a {
      font-size: 0.875rem /* 14/16 */;
      color: var(--c-text-white);
    }
  }
  .content-author-info {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
  }
  .content-title {
    font-size: 1.25rem /* 20/16 */;
    font-weight: bold;
    color: var(--c-text);
    margin: 0;
    padding: 0 var(--navbar-padding-h);
  }
  .content {
    padding: 0 var(--navbar-padding-h);
  }
}

/* 滚动槽 */
::-webkit-scrollbar {
  width: 0.625rem /* 10/16 */;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
