@import './variables';

.page {
  padding: 0 2rem;
  .theme-way-content {
    margin: 0 auto;
    max-width: var(--homepage-width);
    margin-top: 2rem;
    padding: var(--navbar-padding-h) var(--navbar-padding-v);
    border-radius: var(--border-radius);
    box-shadow: var(--card-shadow);
    background-color: var(--c-bg);
  }
}
