@import './variables';

.tag-list {
  display: flex;
}
.tag-item {
  padding: 0.1875rem /* 3/16 */ 0.375rem /* 6/16 */;
  border: 1px solid var(--c-text-white);
  line-height: 1;
  border-radius: var(--border-radius);
  margin: 0 0.625rem 0.625rem 0;
  cursor: pointer;
  a {
    color: var(--c-text-white);
  }
}
